<!DOCTYPE html>
<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">

      <form name="register.registerForm" ng-submit="register.submit()">
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email" ng-model="register.user.email" required>
          </p>
          <div ng-messages="register.registerForm.email.$error" role="alert" ng-show="(register.registerForm.$submitted || register.registerForm.email.$touched) && register.registerForm.email.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

        <div class="field">
          <label class="label" for="name">Name</label>
          <p class="control">
            <input class="input" type="text" name="name" id="name" ng-model="register.user.name" required>
          </p>
          <div ng-messages="register.registerForm.name.$error" role="alert" ng-show="(register.registerForm.$submitted || register.registerForm.name.$touched) && register.registerForm.name.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="register.user.password" required>
          </p>
          <div ng-messages="register.registerForm.password.$error" role="alert" ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched) && register.registerForm.password.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

        <div class="field">
          <label class="label" for="passwordConfirmation">Password Confirmation</label>
          <p class="control">
            <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="register.user.passwordConfirmation" required>
          </p>
          <div ng-messages="register.registerForm.passwordConfirmation.$error" role="alert" ng-show="(register.registerForm.$submitted || register.registerForm.passwordConfirmation.$touched) && register.registerForm.passwordConfirmation.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="base64">Image</label>
            <drag-drop-img ng-model="register.user.base64" id="base64" class="image"></drag-drop-img>
        </div>

        <!-- <img ng-src="{{ register.user.base64 }}"> -->

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-info is-fullwidth" value="Register">
          </p>
        </div>

      </form>
    </div>
  </div>
</section>
